<!-- Тут имена игроков  -->

<div id="top-panel">
    <div class="player-field">
        <div class="player-name">
            Mark
        </div>
        <div class="player-points">
            Points: <span id="animal-points">0</span>
        </div>
    </div>
    <div class="center-field">
       
    </div>
    <div class="player-field enemy">
        <div class="player-name">
            Coolsien
        </div>
    </div>
</div>