


#bird_fly, #bird_sit, #bird_attack   {
  display: none;
}

#bird_fly {
  transform-origin: center;
}

#bird_wrapper {
  position: absolute;
  transition: 0.3s;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#bird_wrapper[data-mode=flying] #bird_fly {
  display: block;
}
#bird_wrapper[data-mode=sitting] #bird_sit {
  display: block;
}
#bird_wrapper[data-mode=attacking] #bird_attack {
  display: block;
}
  
  