.hamster_wrapper.turn-up.good-armor .hamster_armor_run_up, .hamster_wrapper.turn-down.good-armor .hamster_armor_run_up {
  display: block;
}
.hamster_wrapper.turn-left.good-armor .hamster_armor_run, .hamster_wrapper.turn-right.good-armor .hamster_armor_run {
  display: block;
}

.hamster_wrapper.turn-up.good-camoflauge .hamster_camoflauge_run_up, .hamster_wrapper.turn-down.good-camoflauge .hamster_camoflauge_run_up {
  display: block;
}
.hamster_wrapper.turn-left.good-camoflauge .hamster_camoflauge_run, .hamster_wrapper.turn-right.good-camoflauge .hamster_camoflauge_run {
  display: block;
}

.hamster_wrapper.turn-up.good-water_buckets .hamster_water_buckets_run_up, .hamster_wrapper.turn-down.good-water_buckets .hamster_water_buckets_run_up {
  display: block;
}
.hamster_wrapper.turn-left.good-water_buckets .hamster_water_buckets_run, .hamster_wrapper.turn-right.good-water_buckets .hamster_water_buckets_run {
  display: block;
}

.hamster_wrapper.turn-up.good-rocket_booster .hamster_rocket_booster_run_up, .hamster_wrapper.turn-down.good-rocket_booster .hamster_rocket_booster_run_up {
  display: block;
}
.hamster_wrapper.turn-left.good-rocket_booster .hamster_rocket_booster_run, .hamster_wrapper.turn-right.good-rocket_booster .hamster_rocket_booster_run {
  display: block;
}

.hamster_wrapper.turn-up.good-saddle .hamster_saddle_run_up, .hamster_wrapper.turn-down.good-saddle .hamster_saddle_run_up {
  display: block;
}
.hamster_wrapper.turn-left.good-saddle .hamster_saddle_run, .hamster_wrapper.turn-right.good-saddle .hamster_saddle_run {
  display: block;
}

.hamster_wrapper {
  position: absolute;
  transition: 0.3s;
  /* #hamster_1,#hamster_knight_run, #hamster_knight_sit, #hamster_2,
   #hamster_run_2, #hamster_run, #hamster_dig, #hamster_knight_chew,
    #hamster_chew, #hamster_distracted, #dirt  {
    display: none;
  }

  #hamster_run, #hamster_knight_run {
    transform-origin: center;
  }

  #hamster_wrapper {
    position: absolute;
    transition: 0.3s;
  }

  #hamster_wrapper:not(.armored)[data-mode=sitting] #hamster_1 {
    display: block;
  }
  #hamster_wrapper.armored[data-mode=sitting] #hamster_knight_sit
   {
    display: block;
  }
  #hamster_wrapper:not(.armored)[data-mode=running] #hamster_run {
    display: block;
  }
  #hamster_wrapper.armored[data-mode=running] #hamster_knight_run {
    display: block;
  }
  #hamster_wrapper:not(.armored)[data-mode=chewing] #hamster_chew {
    display: block;
  }
  #hamster_wrapper.armored[data-mode=chewing] #hamster_knight_chew {
    display: block;
  }
  #hamster_wrapper[data-mode=digging] #hamster_dig {
    display: block;
  }
  #hamster_wrapper[data-mode=distracted] #hamster_distracted {
    display: block;
  }
   */
}
.hamster_wrapper .layer {
  transform-origin: center;
  display: none;
}
.hamster_wrapper.turn-left #hamster_run, .hamster_wrapper.turn-right #hamster_run {
  display: block;
}
.hamster_wrapper.turn-right .layer {
  transform: scale(-1, 1);
}
.hamster_wrapper.turn-up .hamster_run_up, .hamster_wrapper.turn-down .hamster_run_up {
  display: block;
}
.hamster_wrapper.turn-down .layer {
  transform: scale(1, -1);
}
.hamster_wrapper.distracted .hamster_distracted {
  display: block;
}
.hamster_wrapper.dig .hamster_dig {
  display: block;
}
.hamster_wrapper.chew .hamster_chew {
  display: block;
}
.hamster_wrapper.sit .hamster_sit {
  display: block;
}
.hamster_wrapper.distracted.good-water_buckets .hamster_water_buckets_drop, .hamster_wrapper.dig.good-water_buckets .hamster_water_buckets_drop, .hamster_wrapper.chew.good-water_buckets .hamster_water_buckets_drop, .hamster_wrapper.sit.good-water_buckets .hamster_water_buckets_drop {
  display: block;
}
.hamster_wrapper.distracted.good-rocket_booster .hamster_rocket_booster_drop, .hamster_wrapper.dig.good-rocket_booster .hamster_rocket_booster_drop, .hamster_wrapper.chew.good-rocket_booster .hamster_rocket_booster_drop, .hamster_wrapper.sit.good-rocket_booster .hamster_rocket_booster_drop {
  display: block;
}
.hamster_wrapper.distracted.good-armor .hamster_armor_drop, .hamster_wrapper.dig.good-armor .hamster_armor_drop, .hamster_wrapper.chew.good-armor .hamster_armor_drop, .hamster_wrapper.sit.good-armor .hamster_armor_drop {
  display: block;
}/*# sourceMappingURL=hamster_wrapper_2.css.map */